@{
    ViewBag.Title = "About us";
}
<h1>@ViewBag.Title</h1>
<hr>
<p>
    We are a team that aims to solve some of the employment problems and provide some solutions in this project. We aim and know how to simply build trust between employment sites, whether between a job seeker or companies looking for workers and employees in all fields, so that companies are a documented body for us to provide them What is required and so is documented by us. The business sends us some information so that we can create an account for it on our website
    <a href="~/SendMailer/Index">Registration From Here</a>
    <br /> <h3>Information that must be sent from companies and documents in order to meet them for jobs to be published:-</h3>
    <br /><h2>Registration form for The company</h2>

    <br />1.company name
    <br />2.company owner name
    <br />3.Company commercial card number
    <br />4.Company tax card number
    <br />5.country
    <br />6.address
    <br />7.You can collect all these documents and upload them through the contact form
    <br />8.Email
    <br />9.contact number
    <br />10.Upload this required documents
    <br /> ----------------------------------------------------------------------
    <br /><h2>Registration form for The people</h2>

    <br />1.first name
    <br />2.last name
    <br />3.national ID
    <br />4.Type of degree(low,average,Above average qualification,Bachelor's degree,Diploma degree,master degree,PHD degree)
    <br />5.University Specialization
    <br />6.Country
    <br />7.address
    <br />8.contact number
    <br />9.Email
    <br />10.You can collect all these documents and upload them through the contact form ex(C.V)
    <br />11.Upload this required documents
    <br />-----------------------------------------------------------------------

</p>

<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #222f3e;
        opacity: 0.8;
    }

    li {
        float: left;
    }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    #nav {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: #10ac84;
    }

    label {
        color: #111;
        font-size: 17px;
    }

    input {
        width: 460px;
        height: 40px;
        font-weight: bold;
        border: solid;
        border-radius: 5px;
        padding-left: 8px;
        background: #f1f1f1;
    }

    h1, h4 {
        text-align: center;
        display: block;
        font-size: 2.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    hr {
        border: 1px solid #8B0000;
        margin-bottom: 25px;
    }

    body {
        margin: 0;
        padding: 0;
        background-image: url('../../Uploads/site.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    a.create {
        text-align: center;
    }

    button {
        background-color: #222f3e;
        color: white;
        padding: 16px 20px;
        text-align: center;
        margin: 8px 6;
        border-radius: 17px;
        border: none;
        width: 100px;
        cursor: pointer;
        opacity: 1;
    }

        button:hover {
            opacity: 0.8;
        }

    a {
        text-align: center;
        text-decoration: none;
        background-color: #222f3e;
        color: white;
    }

    #cre {
        background-color: #222f3e;
        color: white;
        padding: 25px 30px;
        text-align: center;
        margin: 20px 670px;
        border-radius: 17px;
        border: none;
        width: 150px;
        cursor: pointer;
        opacity: 1;
    }

        #cre:hover {
            opacity: 0.8;
        }
</style>
